@tailwind base;
@tailwind components;
@tailwind utilities;

/*25. Blue, maroon, & indigo (classic)*/
/*Hex codes: Pale Blue #408EC6, Maroon #7A2048, Indigo #1E2761*/
/* Slightly lighter Indigo - #37417C*/
html {
  min-height: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background: linear-gradient(
    135deg,
    #1e2761 5rem,
    #7a2048 5rem,
    #7a2048 15rem,
    #1e2761 15rem
  );
  background-repeat: no-repeat;
  background-color: #1e2761;
  color: #408ec6;
}

/* I don't know where this is coming from but we'll turn it off*/
p {
  margin: 0;
}

textarea {
  resize: none;
}

.navigation-bar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
}

.link-ul {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.link-li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.link-li:hover {
  background-color: #37417c;
  border-radius: 3px;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 11rem;
  margin-right: 11rem;
  margin-top: 10vw;
}

.headshot-wrapper {
  width: 250px;
}

.headshot {
  border-radius: 9999px;
}

.logo {
  font-size: 10rem;
}

.content {
  margin-top: 4rem;
}

.experience-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 14rem;
  margin-right: 14rem;
  margin-top: 15vw;
}

.experience-menu-list-wrapper {
  margin-right: 2em;
  padding: 0.25rem 0 0 0.5rem;
}

.experience-menu-list-wrapper:hover {
  background-color: #37417c;
  border-radius: 3px;
  padding-top: 0.5rem;
}

.experience-menu-list-button {
  display: flex;
  flex-direction: row;
}

.experience-menu-button {
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  padding-top: 0.25rem;
}

.experience-menu-title {
  white-space: nowrap;
}

.experience-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.experience-dates {
  font-style: italic;
}

.experience-list {
  margin-top: 1em;
}

.experience-task-li {
  margin-top: 0.3em;
}

.experience-task {
  display: flex;
  flex-direction: row;
}

.experience-task-bullet {
  font-size: 5vw;
  flex: none;
  height: 0.25em;
  width: 0.25em;
}

.project-header {
  font-size: 2rem;
}

.project-group {
  margin-bottom: 10em;
}

.project-wrapper {
  display: flex;
  margin-top: 1rem;
}

.project-wrapper:nth-child(even) {
  flex-direction: row;
}

.project-wrapper:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-image {
  width: 200px;
}

.project-wrapper:nth-child(even) > .project-meta {
  margin-left: 1.5rem;
  margin-right: 4rem;
}

.project-wrapper:nth-child(odd) > .project-meta {
  margin-right: 1.5rem;
  margin-left: 4rem;
}

.project-meta {
  margin-top: 1rem;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  margin-top: 0.25rem;
}

.project-tech {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.5rem 1rem;
}

.project-tech-entry {
  margin: 0 0.5rem 0 0.5rem;
  font-style: italic;
}

.project-link {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.project-link-a {
  padding-left: 0.5rem;
}

.project-link > div {
  margin: 0 0.5rem 0 0.5rem;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #92c4e8;
  opacity: 0.6;
}

.email-icon {
  font-size: 15rem;
  margin-top: -0.25em;
}

.email-description {
  margin: 2em 10em 3em 10em;
}

.email-button {
  background-color: #7a2048;
  border-radius: 50px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.email-form-wrapper {
  position: sticky; /* This is important so that we can click in the form without it closing it can't be `static` (default)*/
  display: flex;
  flex-direction: row;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: -30em;
  opacity: 1;
  border-radius: 10px;
  background-color: #1e2761;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5em;
  padding: 1em;
}

.email-form-field {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.email-form-input {
  border-radius: 3px;
  padding: 0.25rem;
}

.email-form-button {
  background-color: #7a2048;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 3px;
  margin-top: 1rem;
}

.resume-button {
  background-color: #7a2048;
  padding: 2em 3em 2em 3em;
  border-radius: 10px;
}
